*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  }
body{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top:20px;
  }
.input-set{
  background-color:lightgray;
  border-radius:8px;
}
.todo-list{
  background-color:lightgray;
  display:flex;
  justify-content:center;
  padding:10px;
  margin:10px;
  gap:10px;
  border-radius:10px;
  width:500px;
  font-size:1.2rem;
}
.add , .urg-set, .add-btn ,.remit-btn ,.done-btn ,.del-btn {
  border-radius:8px;
  border:solid white 1px;
  padding:4px
}
.add-btn,.remit-btn,.done-btn,.del-btn{
  background-color:#DDDDFF;
}
.add-btn{
  padding:0 8px;
}
.remit-box{
 margin-left:auto;
}
button:hover{
  background-color:white;
}
.list-data{
  list-style:none;
  padding:0px;
  
 }
.list-data li{
  display:flex;
  border:1px solid #ddd;
  padding:6px;
  padding-left:15px;
  font-size:1.1rem;
  gap:10px;
  align-item:cenetr;
}
.done-btn{
  margin-left:auto;
}

.important{
  color:#d35400; 
}
.urgent{
  color:red;
}
.add.important{
  background-color: #fdf2e9;
}
.add.urgent{
  background-color:#fdedec; 
}
li.done span{
  text-decoration:line-through;
}
li.done span::after{
  content:" (已完成) ";
}