.img-item{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:5px;
  
}
.img-item img{
  width:100%;
  max-width:600px;
  object-fit:cover;
  border-radius:8px;
  opacity:0;
  transition:opacity 1s ease;
}
.img-item img.loaded{
  opacity:1;
}